{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "\n<p>PlanetScale API</p>\n&copy; 2023 PlanetScale, Inc.",
    "title": "PlanetScale API",
    "version": "v1",
    "x-copyright": "&copy; 2023 PlanetScale, Inc."
  },
  "host": "api.planetscale.com",
  "basePath": "/v1",
  "paths": {
    "/organizations": {
      "get": {
        "description": "When using a service token, returns the list of organizations the service token has access to. When using an OAuth token, returns the list of organizations the user has access to.\n### Authorization\nA   OAuth token must have at least one of the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "operationId": "list-organizations",
        "parameters": [
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the organizations for the current user",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/organization"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{name}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_organization`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |\n| Organization | `read_organization` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Organizations"
        ],
        "summary": "Get an organization",
        "operationId": "get-an-organization",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the organization",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an organization",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "description": "\n### Authorization\nA   OAuth token must have at least one of the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_organization` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "operationId": "update-an-organization",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the organization",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "billing_email": {
                  "description": "The billing email for the organization",
                  "type": "string"
                },
                "idp_managed_roles": {
                  "description": "Whether or not the IdP provider is be responsible for managing roles in PlanetScale",
                  "type": "boolean"
                },
                "require_admin_for_production_access": {
                  "description": "Whether or not only admins can access production",
                  "type": "boolean"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated organization",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{name}/regions": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_organization`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| User | `read_organizations` |\n| Organization | `read_organization` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Organizations"
        ],
        "summary": "List regions for an organization",
        "operationId": "list-regions-for-an-organization",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the organization",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the organization's regions",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/region"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`, `restore_backup`, `restore_production_branch_backup`, `read_backups`, `write_backups`, `delete_backups`, `delete_production_branch_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "List databases",
        "operationId": "list-databases",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the databases for an organization",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/database"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `create_databases`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `create_databases` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "Create a database",
        "operationId": "create-a-database",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "cluster_size": {
                  "description": "The database cluster size. This is required for Scaler Pro databases. Options: PS_10, PS_20, PS_40, PS_80, PS_160, PS_320, PS_400, PS_640, PS_700, PS_900, PS_1280, PS_1400, PS_1800, PS_2100, PS_2560, PS_2700, PS_2800.",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the database",
                  "type": "string"
                },
                "notes": {
                  "description": "Notes about the database",
                  "type": "string"
                },
                "plan": {
                  "description": "The database billing plan. Options: 'hobby', 'scaler', or 'scaler_pro'.",
                  "type": "string"
                },
                "region": {
                  "description": "The region the database will be deployed in. If left blank, defaults to the organization's default region.",
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created database",
            "schema": {
              "$ref": "#/definitions/database"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "List branches",
        "operationId": "list-branches",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns database branches",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/branch"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `create_branch`, `restore_production_branch_backup`, `restore_backup`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_branches`, `restore_production_branch_backups`, `restore_backups` |\n| Database | `write_branches`, `restore_production_branch_backups`, `restore_backups` |\n| Branch | `restore_backups` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Create a branch",
        "operationId": "create-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "parent_branch"
              ],
              "properties": {
                "backup_id": {
                  "description": "If provided, restores the backup's schema and data to the new branch. Must have `restore_production_branch_backup(s)` or `restore_backup(s)` access to do this.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the branch",
                  "type": "string"
                },
                "parent_branch": {
                  "description": "Parent branch",
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created branch",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/backups": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_backups` |\n| Database | `read_backups` |\n| Branch | `read_backups` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Backups"
        ],
        "summary": "List backups",
        "operationId": "list-backups",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns database branch backups",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/backup"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `write_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_backups` |\n| Database | `write_backups` |\n| Branch | `write_backups` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Backups"
        ],
        "summary": "Create a backup",
        "operationId": "create-a-backup",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name for the backup",
                  "type": "string"
                },
                "retention_unit": {
                  "description": "Unit for the retention period of the backup",
                  "type": "string",
                  "enum": [
                    "hour",
                    "day",
                    "week",
                    "month",
                    "year"
                  ]
                },
                "retention_value": {
                  "description": "Value between `1`` and `1000`` for the retention period of the backup (i.e retention_value `6`` and retention_unit `hour` means 6 hours)",
                  "type": "number"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created database branch backup",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/backups/{id}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_backups` |\n| Database | `read_backups` |\n| Branch | `read_backups` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Backups"
        ],
        "summary": "Get a backup",
        "operationId": "get-a-backup",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The ID for the backup",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a database branch backup",
            "schema": {
              "$ref": "#/definitions/backup"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_backups`, `delete_production_branch_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `delete_backups`, `delete_production_branch_backups` |\n| Database | `delete_backups`, `delete_production_branch_backups` |\n| Branch | `delete_backups` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Backups"
        ],
        "summary": "Delete a backup",
        "operationId": "delete-a-backup",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The ID of the backup",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a backup"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "List passwords",
        "operationId": "list-passwords",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region",
            "name": "read_only_region_id",
            "in": "query"
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the passwords for the database branch",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/password"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Create a password",
        "operationId": "create-a-password",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "Optional name of the password",
                  "type": "string"
                },
                "role": {
                  "description": "The database role of the password (i.e. admin)",
                  "type": "string",
                  "enum": [
                    "reader",
                    "writer",
                    "admin",
                    "readwriter"
                  ]
                },
                "ttl": {
                  "description": "Time to live (in seconds) for the password. The password will be invalid when TTL has passed",
                  "type": "number"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Creates a password",
            "schema": {
              "$ref": "#/definitions/password_with_plaintext"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords/{id}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Get a password",
        "operationId": "get-a-password",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the password",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region",
            "name": "read_only_region_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the password",
            "schema": {
              "$ref": "#/definitions/password"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_production_branch_password`, `delete_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Delete a password",
        "operationId": "delete-a-password",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the password",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes the password"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Update a password",
        "operationId": "update-a-password",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the password",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "The name for the password",
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a password",
            "schema": {
              "$ref": "#/definitions/password"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{branch}/passwords/{id}/renew": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`, `create_branch_password`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `manage_passwords`, `manage_production_branch_passwords` |\n| Database | `manage_passwords`, `manage_production_branch_passwords` |\n| Branch | `manage_passwords` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branch passwords"
        ],
        "summary": "Renew a password",
        "operationId": "renew-a-password",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the password",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the branch the password belongs to",
            "name": "branch",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the password belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the password belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "read_only_region_id": {
                  "description": "A read-only region of the database branch. If present, the password results will be filtered to only those in the region",
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates a password",
            "schema": {
              "$ref": "#/definitions/password_with_plaintext"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Get a branch",
        "operationId": "get-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a branch",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `delete_branches`, `delete_production_branches` |\n| Database | `delete_branches`, `delete_production_branches` |\n| Branch | `delete_branch` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Delete a branch",
        "operationId": "delete-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a branch"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/demote": {
      "post": {
        "description": "Demotes a branch from production to development\n### Authorization\nA   OAuth token must have at least one of the following   scopes in order to use this API endpoint:\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `demote_branches` |\n| Database | `demote_branches` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Demote a branch",
        "operationId": "demote-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a development branch",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/promote": {
      "post": {
        "description": "Promotes a branch from development to production\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `connect_production_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `promote_branches` |\n| Database | `promote_branches` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Promote a branch",
        "operationId": "promote-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a production branch",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/safe-migrations": {
      "post": {
        "description": "\n",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Enable safe migrations for a branch",
        "operationId": "enable-safe-migrations-for-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the branch with safe migrations enabled",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "\n",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Disable safe migrations for a branch",
        "operationId": "disable-safe-migrations-for-a-branch",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the branch with safe migrations disabled",
            "schema": {
              "$ref": "#/definitions/branch"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/schema": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Get a branch schema",
        "operationId": "get-a-branch-schema",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "If provided, the schema for this keyspace is returned",
            "name": "keyspace",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the schema for the branch",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/table_schema"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/branches/{name}/schema/lint": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_branch`, `delete_branch`, `create_branch`, `connect_production_branch`, `connect_branch`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |\n| Branch | `read_branch` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Database branches"
        ],
        "summary": "Lint a branch schema",
        "operationId": "lint-a-branch-schema",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the branch",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the branch belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the branch belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of schema errors for a branch",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/lint_error"
                  }
                }
              },
              "additionalProperties": false
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-queue": {
      "get": {
        "description": "The deploy queue returns the current list of deploy requests in the order they will be deployed.\n",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get the deploy queue",
        "operationId": "get-the-deploy-queue",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy queue for a database",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/queued_deploy_request"
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests": {
      "get": {
        "description": "List deploy requests for a database\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "List deploy requests",
        "operationId": "list-deploy-requests",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by state of the deploy request (open, closed, deployed)",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by the name of the branch the deploy request is created from",
            "name": "branch",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by the name of the branch the deploy request will be merged into",
            "name": "into_branch",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of deploy requests for a database",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/deploy_request"
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      },
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_requests`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_deploy_requests` |\n| Database | `write_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Create a deploy request",
        "operationId": "create-a-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "branch": {
                  "description": "The name of the branch the deploy request is created from",
                  "type": "string"
                },
                "into_branch": {
                  "description": "The name of the branch the deploy request will be merged into",
                  "type": "string"
                },
                "notes": {
                  "description": "Notes about the deploy request",
                  "type": "string"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created deploy request",
            "schema": {
              "$ref": "#/definitions/deploy_request_with_deployment"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get a deploy request",
        "operationId": "get-a-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a deploy request",
            "schema": {
              "$ref": "#/definitions/deploy_request_with_deployment"
            }
          }
        }
      },
      "patch": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_deploy_requests` |\n| Database | `write_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Close a deploy request",
        "operationId": "close-a-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "description": "The deploy request will be updated to this state",
                  "type": "string",
                  "enum": [
                    "closed"
                  ]
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated deploy request",
            "schema": {
              "$ref": "#/definitions/deploy_request_with_deployment"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/apply-deploy": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete a gated deploy request",
        "operationId": "complete-a-gated-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deployment has been completed",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/auto-apply": {
      "put": {
        "description": "Enables or disabled the auto-apply setting for a deploy request\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Update auto-apply for deploy request",
        "operationId": "update-auto-apply-for-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "enable": {
                  "description": "Whether or not to enable auto-apply for the deploy request",
                  "type": "boolean"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose auto-apply setting was updated",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/cancel": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Cancel a queued deploy request",
        "operationId": "cancel-a-queued-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deployment was canceled",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/complete-deploy": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete an errored deploy",
        "operationId": "complete-an-errored-deploy",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the completed deploy request",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/deploy": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Queue a deploy request",
        "operationId": "queue-a-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the deploy request belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the deploy request belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deployed deploy request",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/deployment": {
      "get": {
        "description": "Get the deployment for a deploy request\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Get a deployment",
        "operationId": "get-a-deployment",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deployment for a deploy request",
            "schema": {
              "$ref": "#/definitions/deployment"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/operations": {
      "get": {
        "description": "List deploy operations for a deploy request\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "List deploy operations",
        "operationId": "list-deploy-operations",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the deploy request belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the deploy request belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of deploy operations for the deploy request",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/deploy_operation"
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/revert": {
      "post": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Complete a revert",
        "operationId": "complete-a-revert",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request that was reverted",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/reviews": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_deploy_requests` |\n| Database | `read_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "List deploy request reviews",
        "operationId": "list-deploy-request-reviews",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the deploy request belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the deploy request belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of deploy request reviews",
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/deploy_review"
                  }
                }
              },
              "additionalProperties": false
            }
          }
        }
      },
      "post": {
        "description": "Review a deploy request by either approving or commenting on the deploy request\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `approve_deploy_request`, `review_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `approve_deploy_requests` |\n| Database | `approve_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Review a deploy request",
        "operationId": "review-a-deploy-request",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the database the deploy request belongs to",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the deploy request belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "description": "Deploy request review comments",
                  "type": "string"
                },
                "state": {
                  "description": "Whether the review is a comment or approval. Service tokens must have corresponding access (either `approve_deploy_request` or `review_deploy_request`)",
                  "type": "string",
                  "enum": [
                    "commented",
                    "approved"
                  ]
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the created deploy request review",
            "schema": {
              "$ref": "#/definitions/deploy_review"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{database}/deploy-requests/{number}/skip-revert": {
      "post": {
        "description": "Skips the revert period for a deploy request\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_deploy_request`, `create_deploy_request`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `deploy_deploy_requests` |\n| Database | `deploy_deploy_requests` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Deploy requests"
        ],
        "summary": "Skip revert period",
        "operationId": "skip-revert-period",
        "parameters": [
          {
            "type": "string",
            "description": "The number of the deploy request",
            "name": "number",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's database",
            "name": "database",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the deploy request's organization",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deploy request whose deploy revert was skipped",
            "schema": {
              "$ref": "#/definitions/deploy_request"
            }
          }
        }
      }
    },
    "/organizations/{organization}/databases/{name}": {
      "get": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`, `restore_backup`, `restore_production_branch_backup`, `read_backups`, `write_backups`, `delete_backups`, `delete_production_branch_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_databases` |\n| Database | `read_database` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "Get a database",
        "operationId": "get-a-database",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a database",
            "schema": {
              "$ref": "#/definitions/database"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `delete_database`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `delete_databases` |\n| Database | `delete_database` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "Delete a database",
        "operationId": "delete-a-database",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletes a database"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "description": "\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `write_database`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `write_databases` |\n| Database | `write_database` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "Update database settings",
        "operationId": "update-database-settings",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "allow_data_branching": {
                  "description": "Whether or not data branching is allowed on the database",
                  "type": "boolean"
                },
                "automatic_migrations": {
                  "description": "Whether or not to copy migration data to new branches and in deploy requests.",
                  "type": "boolean"
                },
                "default_branch": {
                  "description": "The default branch of the database",
                  "type": "string"
                },
                "insights_raw_queries": {
                  "description": "Whether or not full queries should be collected from the database",
                  "type": "boolean"
                },
                "migration_framework": {
                  "description": "A migration framework to use on the database",
                  "type": "string"
                },
                "migration_table_name": {
                  "description": "Name of table to use as migration table for the database",
                  "type": "string"
                },
                "notes": {
                  "description": "Notes on the database",
                  "type": "string"
                },
                "production_branch_web_console": {
                  "description": "Whether or not the web console can be used on the production branch of the database",
                  "type": "boolean"
                },
                "require_approval_for_deploy": {
                  "description": "Whether or not deploy requests must be approved by a database administrator other than the request creator",
                  "type": "boolean"
                },
                "restrict_branch_region": {
                  "description": "Whether or not to limit branch creation to the AWS us-east-1 region.",
                  "type": "boolean"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated database",
            "schema": {
              "$ref": "#/definitions/database"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/organizations/{organization}/databases/{name}/read-only-regions": {
      "get": {
        "description": "List read-only regions for the database's default branch\n### Authorization\nA service token or OAuth token must have at least one of the following access or scopes in order to use this API endpoint:\n\n**Service Token Accesses**\n `read_database`, `delete_database`, `write_database`, `read_branch`, `delete_branch`, `create_branch`, `delete_production_branch`, `connect_branch`, `connect_production_branch`, `delete_branch_password`, `delete_production_branch_password`, `read_deploy_request`, `create_deploy_request`, `approve_deploy_request`, `read_comment`, `create_comment`, `restore_backup`, `restore_production_branch_backup`, `read_backups`, `write_backups`, `delete_backups`, `delete_production_branch_backups`\n\n**OAuth Scopes**\n\n | Resource | Scopes |\n| :------- | :---------- |\n| Organization | `read_branches` |\n| Database | `read_branches` |",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Databases"
        ],
        "summary": "List read-only regions",
        "operationId": "list-read-only-regions",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the database",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "The name of the organization the database belongs to",
            "name": "organization",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "default": 1,
            "description": "If provided, specifies the page offset of returned results",
            "name": "page",
            "in": "query"
          },
          {
            "type": "number",
            "default": 25,
            "description": "If provided, specifies the number of returned results",
            "name": "per_page",
            "in": "query"
[...]
